[run]
source = src
branch = True
omit =
    */test_*.py
    */conftest.py
    */runners.py
    */run_tests.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:

[html]
directory = tests/reports/coverage/html

[xml]
output = tests/reports/coverage/coverage.xml